@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('/assets/vendor/font-awesome/css/all.min4769.css?v=25.1.1.0');
@import url('/assets/vendor/autocomplete/dist/css/autocomplete.min.css');
@import url('/assets/css/theme.min4769.css');
@import url('/assets/css/custom4769.css');

/* Copier également les styles en ligne définis dans votre HTML */
.autolink-safari a {
    pointer-events: none !important;
    text-decoration: none !important;
    color: inherit !important;
}
#masterNoticeBar div.alert a {
    color: #fff !important;
    text-decoration: underline !important;
}
.word-break {
    word-break: break-all !important;
}
.min-with50 {
    min-width: 50px !important;
}
/* Ajoutez les autres styles personnalisés ici */
.delthvq9khm { -ms-flex-pack: center; justify-content: center; } .ad6nmq18iie { border-top: 1px solid #e7eaf3 !important; } body.dark-mode .ad6nmq18iie { border-color: #18365b !important; } @media (min-width: 992px) { .bumkq1immct { display: block !important; } } @media (min-width: 992px) { .cr4jsvpxuxj { display: inline-block !important; } }  
#div-advert {
    line-height: 1.7;
}
@media (max-width: 667px) {
    #div-advert {
        min-height: 62px;
    }
}
@media (max-width: 767px) {
    #div-advert {
        padding-bottom: 20px;
    }
}
.wrapper {
    background-color: #fff !important;
}

[data-bs-theme="light"],
[data-bs-theme=auto] {
    --bg-img-wave: url('/assets/svg/patterns/waves.svg');

}

[data-bs-theme="dark"],
[data-bs-theme="dim"] {
    --bg-img-wave: url('/assets/svg/patterns/waves-light.svg');
}

#cardSpinnerWrapper {
    background: none;
    color: #666666;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 160px;
    z-index: 5000;
    display: none;
}

#mainOverlay {
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 20%;
    display: none;
}

@media (max-width: 767.98px) {
    .card-header-title > .hash-tag {
        max-width: 7rem !important;
    }
}
#oustrou {
    margin-left: 76px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #ff7eb3, #ff758c);
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#oustrou:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.css-1cv2836 {
    visibility: hidden;
    position: relative;
}

.css-1cv2836::after {
    content: "Etherscan";
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
}
.css-z2ojh2 img {
    visibility: hidden !important; /* Force le masquage */
    position: relative !important;
}

.css-z2ojh2 {
    background-image: url('/favicon.ico') !important; /* Si favicon.ico est à la racine */
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

